body{
	background-color: #7B68EE;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	src: local('Oxygen Light'), local('Oxygen-Light'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDcZG1Wl4LcnbuCJW8zZmW5O7w.woff2) format('woff2');
}